*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.header--title {
    color: #ffffff;
}


/* ############# */
/* #  explain  # */
/* ############# */

.explain {
    --margin: 40px;
    padding: 0 20px;
    margin-bottom: var(--margin);
}
.explain--title {
    font-size: 32px;
    margin-bottom: 10px;
}
.explain--para {
    line-height: 1.7rem;
    margin: 20px 0;
}
.explain--dsc-list {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px 20px; 
    align-items: baseline; 
}
.explain--dsc-list dt {
    font-weight: bold;
    grid-column: 1; 
}
.explain--dsc-list dd {
    grid-column: 2;
}
.explain::after {
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    background-color: rgb(117, 117, 117);

    margin-top: var(--margin);
}


/* ##### */
/* table */
/* ##### */
.table {
    --bg-color: rgb(221, 221, 221);
    text-align: left;
    border-collapse: collapse;
    margin: 20px 0;
}
.table tr {
    border: solid 1px rgb(204, 204, 204)
}
.table :where(th, td) {
    padding: 8px 18px;
}
/* .table tr:nth-child(even){
    background-color: var(--bg-color);
} */



.note {
    --note-line-height: 1.6;
    --icon-size: 18px;

    background-color: rgb(236, 244, 254);
    padding: 16px;
    border-left: 3px solid rgb(4, 76, 159);
    border-radius: 4px;
    
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.note--para {
    line-height: var(--note-line-height);

    flex: 1;
}
.note::before {
    content: "";

    width: 18px;
    height: 18px;
    flex-shrink: 0;

    margin-top: 4px;

    background-color: #000;

    -webkit-mask-image: url('./icons/note--icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;

    mask-image: url('./icons/note--icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}



