/* fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* 초기화 및 전역 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem;
}
h1 {
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-position: inside;
}

li {
    padding-left: 1rem;
}

/* =========================================
   RFC Header Example 스타일 시작
   ========================================= */

/* 1. 컨테이너 박스 자체 설정 (body에 있던 폰트 설정을 여기로 가져옴) */
#rfc-header-example {
    padding: 1rem;
    margin: 2rem;
    border: 1px #222 solid;
    border-radius: 15px;
    
    /* 자식 요소의 float를 감싸기 위한 필수 설정 */
    display: flow-root; 

    /* RFC 문서의 body 설정 이식 */
    max-width: 90%;
    color: #222;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* 2. 링크 스타일 */
#rfc-header-example a {
    text-decoration: none;
}
#rfc-header-example a[href] {
    color: #22e;
}
#rfc-header-example a[href]:hover {
    background-color: #f2f2f2;
}

/* 3. 제목 (Headings) */
#rfc-header-example h1, 
#rfc-header-example h2, 
#rfc-header-example h3, 
#rfc-header-example h4, 
#rfc-header-example h5, 
#rfc-header-example h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
    line-height: 1.3;
}

/* 4. 리스트 (Lists) */
#rfc-header-example dl {
    /* 기본 설정 유지 */
}

/* 여기가 핵심! dt를 왼쪽으로 띄워서(float) 가로 배치를 만듭니다 */
#rfc-header-example dl > dt {
    float: left;        /* 왼쪽으로 밀기 */
    margin-right: 1em;  /* dt와 dd 사이 간격 */
    clear: left;        /* 줄바꿈 시 겹침 방지 */
}

#rfc-header-example dl > dd {
    margin-bottom: 0em;
    min-height: 1.3em;
    /* dd는 float를 쓰지 않아도 dt 옆 공간으로 자연스럽게 올라갑니다 */
}

/* 5. 외부 메타데이터 박스 (배경색 문제 해결) */
/* 선택자 우선순위를 확실하게 하기 위해 ID를 포함해서 작성 */
#rfc-header-example div#external-metadata {
    background-color: #eee; /* 회색 배경 */
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: block; /* 원래 none이었던 것을 보이게 수정 */
    border-radius: 5px; /* 보기 좋게 둥글게 */
}

#rfc-header-example div#internal-metadata {
    padding: 0.5em;
}

/* 6. 저자(Author) 정보 */
#rfc-header-example .authors .author {
    display: inline-block; /* 저자들을 가로로 나열 */
    margin-right: 1.5em;
    vertical-align: top;
}
#rfc-header-example .authors .org {
    font-style: italic;
}

/* 7. 기타 태그들 */
#rfc-header-example .editor {
    /* 편집자(Ed.) 스타일 */
}