*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 238, 247);
}

header {
    background-color: #fff;
    padding: 40px 100px;
    margin: 5px 10px;
    border-radius: 16px;
    text-align: center;
}

main {
    background-color: #fff;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 8px;
}


div.example-cover {
    background-color: #E7E9EB;
    padding: 0px 10px 10px;
    margin: 5px;
    border-radius: 8px;
}

div.example-content {
    background-color: #fff;
    padding: 1px 0;
    border-radius: 8px;
}

/* .example-content :is(ol, ul) {
    margin: 0;
} */


.features {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 12px;
}