/*
    점(.)으로 시작하는 것은 '클래스'를 의미합니다.
    이 스타일은 class="info-box"라고 적힌 모든 태그에 적용됩니다. */

/* 초기화 및 전역 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 14px;
}

.maintopic {

}

.subtopic {
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px;
}

h1 {
    border-bottom: 1px solid #dedee6;
}

ul, ol {
    list-style-position: inside;
}

dl {
    display: grid;

    grid-template-columns: max-content 1fr;
    gap: 0.5rem 2rem;
    align-items: baseline;
}

.info-box {
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #b3afaf;
    margin: 10px;
}