*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-left: 5px;
    margin-bottom: 10px;
    background-color: black;
    color: aliceblue;
}

main {
    padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 400;
}

ol, ul {
    padding-left: 20px;
}

form {
    margin-bottom: 20px;
}

.code-box {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 1rem;
    font-family: monospace;
}


/* 테이블 */
.table-box {
    border-collapse: collapse;
}

.table-box :where(th, td){
    padding: 5px;
    border: 1px solid #000000;
    text-align: left;
}

/* 줄바꿈 금지 */
.nobreak {
    white-space: nowrap;
}

.explain {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: solid 2px #afafaf;
}

.explain p {
    margin-bottom: 10px;
}

.strong {
    background-color: rgba(222, 222, 222, 0.3);
    color: rgb(220, 20, 60);
    padding: 0 5px;
}