*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.header--title {
    color: #ffffff;
}



.explain {
    padding-left: 20px;
    margin-bottom: 40px;
}

.explain--title {
    font-size: 32px;
    margin-bottom: 10px;
}

.explain--para {
    margin: 20px 0;
}

.explain--dsc-list {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px 20px; 
    align-items: baseline; 
}
.explain--dsc-list dt {
    font-weight: bold;
    grid-column: 1; 
}
.explain--dsc-list dd {
    grid-column: 2;
}





.table {
    text-align: left;
    border-collapse: collapse;
    margin: 20px 0;
}
.table tr {
    border: solid 1px rgb(204, 204, 204)
}
.table :where(th, td) {
    padding: 8px 18px;
}



